:host {
  display: flex;
  justify-content: center;
  margin-top: -170px;

  *,
  *::after,
  *::before {
    transition: all 0.3s ease-in-out;
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: calc(100vh - 30px);

  &>* {
    z-index: 2;
  }

  &.dark {
    background: #161722;
  }

  &.light {
    background: #FFF;
  }
}