<div *ngIf="isUpdating" [class]="'update-task' + ' ' + (theme$ | async)" [style]="{
  top: cursorPosition.y,
  left: cursorPosition.x
}">
  <input autofocus="on" type="text" [placeholder]="activeTask.title"
    (input)="taskService.updateTaskTitle(activeTask, $event)" (keydown.enter)="validateUpdate()" />
</div>
<ul [class]="theme$ | async">
  <li *ngFor="let task of taskService.newArray">
    <div [class]="'check-wrapper' + ' ' + (theme$ | async)" [class.complete]="task.completed"
      (click)="taskService.completeTask(task)">
      <img *ngIf="task.completed" src="./assets/images/icon-check.svg" alt="completed icon">
    </div>
    <span (click)="toggleUpdatingState(task, $event)">{{task.title}}</span>
    <button class="delete" (click)="taskService.deleteTask(task)"><img src="./assets/images/icon-cross.svg"
        alt="delete button"></button>
  </li>
  <li class="bottom-line">
    <span class="items-left">{{taskService.tasks.length}} item(s) left</span>
    <button class="delete-completed" (click)="taskService.clearCompleted()">Clear
      completed</button>
  </li>
</ul>
<div [class]="'filters' + ' ' + (theme$ | async)">
  <button class="{{taskService.activeFilter === 'all' ? 'active-button' : ''}}"
    (click)="taskService.filteredTasks('all')">All</button>
  <button class="{{taskService.activeFilter === 'active' ? 'active-button' : ''}}"
    (click)="taskService.filteredTasks('active')">Active</button>
  <button class="{{taskService.activeFilter === 'completed' ? 'active-button' : ''}}"
    (click)="taskService.filteredTasks('completed')">Completed</button>
</div>