:host {
  position: relative;
  width: 100%;
  max-width: 550px;

  *,
  *::after,
  *::before {
    transition: all 0.3s ease-in-out;
  }
}

ul {
  padding: 0;
  width: 100%;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &.dark {
    background-color: #25273c;

    span {
      color: #fff;
    }
  }

  &.light {
    background-color: #fff;

    li {
      border-bottom: #777a923d solid 1px;
    }

    li:last-of-type {
      border-bottom: none;
    }

    span {
      color: #161722;
    }

    button {
      background-color: #fff;
    }
  }

  li {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0.5rem 0;
    border-bottom: #494c6b7e solid 1px;
    position: relative;

    .delete-completed {
      text-align: end;
      cursor: pointer;
    }
  }

  .bottom-line {
    justify-content: space-between;
    border-bottom: none;

    span,
    button {

      color: #6b6d7f;
    }

    span {
      flex: none;
      padding: 0 1rem;
      cursor: none;
    }
  }


  span {
    flex: 1;
    cursor: pointer;
  }
}

.check-wrapper {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  position: relative;
  overflow: hidden;
  border: none;
  margin-left: 1rem;

  &::after {
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
  }

  &.complete {
    img {
      z-index: 5;
      cursor: pointer;
    }

    &::after {
      background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
      cursor: pointer;
    }
  }
}

.check-wrapper.dark::after {
  background: #25273c;
}

.check-wrapper.dark.complete::after,
.check-wrapper.light.complete::after {
  background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.check-wrapper.light::after {
  background: #fff;
}

button {
  border: none;
  background: #25273c;
  color: #fff;
  margin-right: 1rem;

  img {
    cursor: pointer;
  }
}

.update-task {
  position: relative;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  display: flex;
  margin: 1rem 0;

  input {
    flex: 1;
    margin: 0 1rem;
    border: none;

    &:focus {
      outline: none;
    }
  }
}

.dark.update-task {
  background: #25273c;

  input {
    background: #25273c;
    color: #fff;
    caret-color: #fff;
  }
}

.light.update-task {
  background: #fff;

  input {
    background: #fff;
    color: #25273c;
    caret-color: #3A7BFD;
  }
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0.5rem 0;
  border-radius: 5px;

  button {
    cursor: pointer;
    color: #6b6d7f;

    &.active-button {
      color: #3A7BFD;
    }
  }
}

.filters.dark {
  background-color: #25273c;
}

.filters.light {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  button {
    background: #fff;
  }
}